<%- include("partials/header"); -%>

    <h1>Create Post</h1>
    <form class="" action="/compose" method="post">
      <div class="">
        <label>Quote:</label>
        
        <label>Post:</label>
        
        <textarea class="" name="postBody" rows="8" cols="100" placeholder=  <p><%= quote.content  %>
          <%= quote.author  %></textarea>
      </div>
      <button class="" type="submit" name="button">Publish</button>
    </form>
   

<%- include("partials/footer"); -%>
