<h1>Create Post</h1>
<p>
  <%= quote.content %> -- <%= quote.author %> 
</p>
<form class="" action="/compose" method="post">
  <div class="">
    <input type="hidden" value="<%= quote.content %>" name="quote">
    <input type="hidden" value="<%= quote.author %>" name="author">
    <label>Write your post:</label>
    <div>
      <textarea class="" name="postBody" rows="4" cols="50"></textarea>
    </div>
  </div>
  <button class="" type="submit" name="button">Publish</button>
</form>