<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@1.8.10/dist/tailwind.min.css" rel="stylesheet">
  <title>Blockquote</title>
</head>

<body class="bg-gray-200">
  <div class="container mx-auto">
    <header class="py-4 flex justify-between items-center">
      <a href="/" id="home" class="text-blue-500">Home</a>
      <a href="/post/new" id="post" class="text-blue-500">Create Post</a>
      <main class="flex justify-center py-8 text-blue-500">
        <h1 class="text-3xl font-semibold">Blockquote</h1>
      </main>
      <nav class="flex">
        <% if (user) { %>
          <!-- if the user is logged in -->
          <a href="/users/logout" class="text-blue-500 px-2">Logout</a>
          <li class="px-2">
            <a href="/users/profile" class="text-blue-500">Profile</a>
          </li>
          <% } else { %>
            <!-- if the user is not logged in -->
            <a href="/users/new" class="text-blue-500 px-2">Sign up</a>
            <a href="/users/login" class="text-blue-500 px-2">Login</a>
            <% } %>
      </nav>
    </header>

    <section class="mx-auto">
      <%- body %>
    </section>
    <footer class="flex justify-center py-4">
    </footer>
  </div>
</body>

</html>